<div id="entry-<%= entry.id %>" class="parent">

  <%= raw author(entry) %> said:

  <div class="body">
    <% if entry.image.exists? %>
        <div><%= entry.image.url %></div>
    <% end %>
    <%= entry.body %>
    <% if current_user %>
        <%= raw reply_button %>
    <% end %>
  </div>

  <% if entry.children.any? -%>
      <div class="head"></div>
  <% else %>
      <div class="head-hidden"></div>
  <% end -%>
  <ul class="responses">
    <% entry.children.each do |entry| %>
        <%= render :partial => 'main/entries/response', :locals => {:entry => entry} %>
    <% end %>
  </ul>

</div>
