<div id='entry-<%= entry.id %>' class="response">
  <strong class="author-<%= entry.author_gender %>">
    <%= link_to entry.login, user_profile_path(:user_profile => entry.login) %>
  </strong> said:
  <div class="body">
    <%= entry.body %>
    <% if entry.image.exists? %>
      <div><%= image_tag entry.image.url, :class => :regular %></div>
    <% end %>
  </div>
</div>
