<div id="new-message-form" class="">
  <%= form_for @message, :remote => true, :html => {:id => 'new-message'} do |f| %>

    <div class='recipients-container'>
      <%= f.text_field :recipient %>
    </div>

    <div class='clear-both'> 
        <%= f.label :subject %> <%= f.text_field :subject %> <br/>
      </div>


      <%= f.label :body %> <%= f.text_area :body %>
      <%= f.submit t(:send_message), :disable_with => t(:please_wait) %>

  <% end %>
</div>
