<div id="new-message-form" class="">
  <%= form_for @message, :remote => true, :html => {:id => 'new-message'} do |f| %>

      <%= f.label :recipient %> <%= f.text_field :recipient %> <br />

      <%= f.label :subject %> <%= f.text_field :subject %> <br/>

      <%= f.label :body %> <%= f.text_area :body %>
      <%= f.submit t(:send_message), :disable_with => t(:please_wait) %>

  <% end %>
</div>