<table id='messages'>

  <div id="options-placeholder">
    <div id="options">

      <span id="messages-marked"> <%= t(:messages_marked) %>:
        <strong id="marked-messages-counter">0</strong>
      </span>

      <span>
        <%= update_messages(:delete) %>
      </span>

    </div>


  </div>

  <% @messages.each do |message| %>
      <% receiver = message.receiver %>
      <tr id="<%= message.id %>">
        <td class='middle-vertical-align mark-message'>
          <%= check_box_tag "message-#{message.id}" %>
        </td>
        <td>
          <div><%= image_tag(receiver.avatar.url(:thumb)) %></div>
        </td>
        <td class="middle-vertical-align message-details">
          <div><%= link_to receiver.login, user_profile_path(receiver) %></div>
          <div><%= l message.created_at %></div>
        </td>
        <td class='middle-vertical-align message-body'>
          <div> Subject: <%= message.subject %> </div>
          <div> Body: <%= message.body %></div>
        </td>
        <td class="middle-vertical-align delete-message">
          <%= link_to t(:delete_message), message, :method => :delete, :remote => true %>
        </td>
      </tr>
  <% end %>

</table>