<% content_for(:head) do %>
    <%= stylesheet_link_tag "jquery.css" %>
    <%= javascript_include_tag "jquery-ui.js" %>
    <%= javascript_include_tag "messages" %>
<% end %>

 <%= links_box('new') %>


<h1> <%= t(:new_message) %></h1>

<div id="new-message-form-container">
  <%= form_for @message, :html => {:id => 'new-message'} do |f| %>


      <table>
        <tr>
          <td id='avatar-row'>
            <div id="avatar">
              <img src="/avatars/thumb/missing.png" alt="avatar" />
            </div>
          </td>
          <td id='recipients-row'>
            <h3><%= t(:recipient)%></h3>
            <div id='recipients-container' class="thin-border float-left" >
              <input type="text" id="users-select" />
              <%= f.hidden_field :recipients  %>
            </div>
            <div class='clear-both'>
              <h3> <%= t(:subject) %> </h3>
              <%= f.text_field :subject, :size => 40 %>
            </div>
          </td>
        </tr>
      </table>
      <div>
        <%= f.text_area :body, :rows => 8, :cols => 50 %>
      </div>
      <%= f.submit t(:send_message), :disabled => true %>




  <% end %>
</div>

<div id='friends-json' class="hidden">
  <% friends = User.friends_of(current_user) %>

  <%= friends.map {|u|
    { :avatar => u.avatar.url(:thumb), :value => u.login, :name => u.name, :id => u.id }
  }.to_json
  %>
</div>
