<% content_for(:head) do %>
    <%= stylesheet_link_tag "jquery.css" %>
    <%= javascript_include_tag "jquery-ui.js" %>
    <%= javascript_include_tag "messages" %>
<% end %>

<h1> <%= (params[:section] == 'inbox') ? t(:incoming_messages) : t(:sent_messages) %> </h1>

<%= incoming(:inactive => (params[:section] == 'inbox') ) %>
<%= sent(:inactive => (params[:section] == 'sent') ) %>
<%= link_to 'new message', nil, :id => 'new-message' %>

<% if params[:section] == 'inbox' %>
    <div id="incoming-messages">
      <%= render :partial => 'incoming_messages' %>
    </div>
<% elsif params[:section] == 'sent' %>
    <div id="sent-messages">
      <%= render :partial => 'sent_messages' %>
    </div>
<% end %>

<div id='friends-json' class="hidden">
  <%= User.friends_of(current_user).map {|u|
      {:avatar => u.avatar.url(:thumb), :value => u.login} }.to_json
  %>
</div>



<div id="opaco" class="hidden" ></div>

<div id="popup" class="hidden">
  <%= render :partial => 'new_message' %>
  <div>
    <input type="button" value="close" id="close-popup">
  </div>
</div>
