<% if @message.user_id == current_user.id %> <%# outgoing message %>
    <% outgoing, incoming = true, false %>
    <% user = User.where(:id => @message.receiver_id).first -%>
<% else %> <%# incoming message %>
    <% outgoing, incoming = false, true %>
    <% user = @message.user %>
<% end %>

<% parent_id = incoming ? (@message.parent_id || @message.id) : (@message.parent_id) %>

<table id='message'>
  <tr>
    <td class='message-avatar'>
      <%= image_tag user.avatar.url(:thumb) %>
    </td>
    <td class='message-info top-vertical-align'>
      <div class='author-info'>
        <%= link_to user.login, user_profile_path(user), :class => "author-#{user.gender} user-profile-url" %>
      </div>
      <div class='message-created-at'>
        <%= l @message.created_at %>
      </div>
      <% unless user.name.blank? %>
          <div class='user-name'>
            <%= user.name %>
          </div>
      <% end %>
      <div class='message-body'>
        <%= @message.body %>
      </div>
    </td>
    <td class='top-vertical-align message-options'>
      <%= link_to t(:delete_message), @message, :method => :delete, :confirm => t(:are_you_sure) %>
    </td>
  </tr>
</table>

<div id='new-message-form'>
  <%= form_for Message.new do |f| %>
      <%= f.hidden_field :recipients, :value => user.id %>
      <%= f.hidden_field :parent_id, :value => parent_id %>
      <%= f.hidden_field :subject, :value => @message.subject %>

      <div>
        <%= f.text_area :body, :cols => 35, :rows => 5 %>
      </div>

      <%= f.submit t(:send_message), :disable_with => t(:please_wait), :disabled => true %>
  <% end %>
</div>

