<h1> <%= (params[:section] == 'inbox') ? t(:incoming_messages) : t(:sent_messages) %> </h1>

<%= incoming(:inactive => (params[:section] == 'inbox') ) %>
<%= sent(:inactive => (params[:section] == 'sent') ) %>
<%# send_message %>

<% if params[:section] == 'inbox' %>
    <div id="incoming-messages">
      <%= render :partial => 'incoming_messages' %>
    </div>
<% elsif params[:section] == 'sent' %>
    <div id="sent-messages">
      <%= render :partial => 'sent_messages' %>
    </div>
<% end %>

