<%= render :partial => 'shared/users/sections' %>
<% @details = current_user.details %>
<% avatar_geo = @details.avatar_geometry(:for_cropping) %>
<% rate = @details.avatar_geometry.width / avatar_geo.width %>
<% content_for(:head) do %>
  <%= stylesheet_link_tag "jcrop.css" %>
  <%= javascript_include_tag "jcrop.js" %>
<% end %>


<%= form_for current_user.details, :html => {:method => :put, :multipart => true} do |f| %>
  <%= (image_tag @details.avatar.url(:for_cropping), 'data-width' => avatar_geo.width,
       'data-height' => avatar_geo.height, 'data-ratio' => rate, :id => :cropbox) if @details.avatar.exists? %>
       <strong> Current avatar: </strong><%= image_tag @details.avatar.url(:small) if @details.avatar.exists? %>
  <h4>Preview</h4>
  <div id='avatar-preview'>
    <%= image_tag @details.avatar.url(:for_cropping), :id => :preview %>
  </div>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.text_field attribute, :id => attribute %>
  <% end %>
  <div class="row">
    <%= f.label(t :avatar) %> <%= f.file_field :avatar %>
  </div>
  <%= f.submit(t :renew_avatar) %>
<% end %>
