<% if profile_owner? %>
    <%= render :partial => 'shared/users/header' %>
<% end %>

<% if profile_owner? %>
    <% pending_friends_count = User.pending_friends_of(current_user).count.to_i -%>
    <% pending_messages_count = current_user.incoming_messages.
            unread.count -%>
    <% if pending_friends_count > 0 %>
        <%= link_to friends_path(current_user, :section => 'pending') do %>
            <span><%= t(:friends) %>(<strong><%= pending_friends_count %></strong>)</span>
        <% end %>
    <% else %>
        <%= link_to t(:friends), friends_path(current_user) %>
    <% end %>
    <% if pending_messages_count > 0 %>
        <%= link_to user_messages_path(current_user) do %>
            <span><%= t(:messages)%>(<strong><%= pending_messages_count %></strong>)</span>
        <% end %>
    <% else %>
        <%= link_to t(:messages), user_messages_path(current_user) %>
    <% end %>
<% else %>
    <%= link_to t(:friends), friends_path(@user) %>
<% end %>
<%= link_to t(:albums), user_albums_path(@user) %>


<% if !profile_owner? && current_user %>
    <% if current_user.friendship_with(@user).first %>
        <%= destroy(current_user.friendship_with(@user).first) %>
    <% elsif current_user.friendship_with(@user, :approved => :all).first.nil? %>
        <%= add %>
    <% end %>

    <%= link_to t(:write_message), nil, :class => 'write-message', 'data-popup' => '#message-form-container',
      'data-recipient' => "{\"id\":\"#{@user.id}\", \"login\":\"#{@user.login}\"}"  %>

    <%= render :layout => 'shared/popup', :locals => {:id => 'message-form-container'}  do %>
      <%= render :partial => 'messages/new_message_form' %>
    <% end %>

<% end %>

<% if current_user %>
    <%= form_for ProfileComment.new, :remote => true, :html => { :id => 'parent_form' } do |f| %>
        <%= f.text_area :body, :cols => 45, :rows => 5 %> <br />
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.file_field :image %>
        <strong class='cancel-upload'>X</strong> <br />
        <div>
          <%= f.submit t(:new_comment), :disabled => true %>
        </div>
    <% end %>

    <%= form_for ProfileComment.new, :remote => true, :html => {:id => :response_form} do |f| %>

        <%= f.text_area :body, :cols => 50, :rows => 4 %>
        <%= f.hidden_field :parent_id %> <br />
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.submit t(:say), :disabled => true %>
    <% end %>

<% end %>

<table id='profile-comments'>

  <% @comments.each do |comment| %>
      <%= render :partial => 'profile_comments/profile_comment', :locals => {:profile_comment => comment} %>
  <% end %>

</table>

