<div id='header'>
  <%= link_to t(:main_page), root_path, :class => 'main-page-link' %>
  <% if current_user %>
      <%= link_to home_page, :class => 'user-profile' do %>
          <span class='user-profile-name'><%= t(:profile) + "( #{current_user.login} )" %></span>
          <%= image_tag '/images/down.png', :class => 'user-profile-menu' %>
      <% end %>
      <div>
        <ul class='hidden user-menu'>
          <li><%= link_to t(:home_page), home_page %></li>
          <li><%= link_to t(:edit_details), edit_user_profile_path(current_user) %></li>
          <li><%= link_to t(:logout), logout_path %></li>
        </ul>
      </div>
  <% else %>
      <%= link_to t(:login), login_path, :class => 'log-in' %>
      <%= link_to t(:register), register_path, :class => 'register' %>
  <% end %>
</div>
