<tr id="<%= profile_comment.id %>" class='parent profile-comment'>
  <td class='avatar-box'>
    <div><%= image_tag(profile_comment.author_avatar(:thumb)) %></div>
  </td>
  <td class="middle-vertical-align profile-comment">
    <div>
      <strong class="author-<%= profile_comment.author_gender %>">
        <%= link_to profile_comment.login, user_profile_path(:user_profile => profile_comment.login) %>
      </strong>
    </div>
    <div class='profile-comment-body'>
      <div>
        <%= image_tag(profile_comment.image.url(:regular), :class => 'regular') if profile_comment.image.exists? %>
      </div>
      <%= profile_comment.body %>
    </div>

    <div class='profile-comment-footer'>
      <%= l profile_comment.created_at %>
      <% if profile_comment.author_id == current_user.id %>
          <%= link_to t(:delete), profile_comment, :remote => true, 'data-notify' => true,
                      :method => :delete, :class => 'delete-profile-comment',
                      :confirm => t(:are_you_sure) %>
      <% end %>
      <strong class="reply"><%= t :reply %></strong>
      <div class="form-placeholder"></div>
    </div>

    <div class="profile-comment-responses">
      <% profile_comment.children.order('"profile_comments".created_at DESC').each do |response| %>
          <%= render :partial => 'profile_comments/comments/response', :locals => {:profile_comment => response} %>
      <% end %>
    </div>
    

  </td>
</tr>