<div id='<%= profile_comment.id %>' class="response">
  <strong class="author-<%= profile_comment.author_gender %>">
    <%= link_to profile_comment.login, user_profile_path(:user_profile => profile_comment.login) %>
  </strong> <%= t(:said) %>:
  <div class="body">
    <%= profile_comment.body %>
  </div>
</div>
