<% if profile_owner? %>
  <% section = params[:section] %>
  <%= show(:inactive => (section == 'show')) %>
  <%= show_pending(:inactive => (section == 'pending')) %>
  <%= show_online(:inactive => (section == 'online')) %>
  <%= show_blacklist(:inactive => (section == 'blacklist')) %>
<% end %>

<div id="friends">
  <%= render :partial => 'friendships/friends/friends' %>
</div>
