<h1 id="create-album">
  <%= t(:create_album) %>
</h1>

<%= render :partial => 'new_album_form' %>

<% @albums.each do |album| %>
    <div class='album'>
      <span class="album-name">
        <%= album.title %>
      </span>
      <%= image_tag album.cover %>
      <div class="album-description">
        <%= album.description %>
      </div>
    </div>
<% end %>