<%- session_key =  Rails.application.config.session_options[:key] %>

<% if profile_owner? %>

    <% content_for :head do %>
        <meta name='<%= session_key %>' content='<%= u cookies[session_key] %>' />
        <%= javascript_include_tag "swfobject.js", "uploadify.js", "photos.js" %>
        <%= stylesheet_link_tag 'uploadify' %>
    <% end %>

<% else %>

    <% content_for :head do %>
        <%= javascript_include_tag "photos.js" %>
    <% end %>

<% end %>

<div class='album-container' id='<%= @album.id %>'>

  <% if profile_owner? %>
      <%= link_to t(:change_settings), edit_user_album_path(current_user, @album.latinized_title) %>

      <div id="delete-album">
        <%= button_to t(:delete_album), @album, :method => :delete,
                      :confirm => t(:delete_album_confirmation),
                      :disable_with => t(:please_wait)
        %>
      </div>

  <% end %>

  <div>
    <% if profile_owner? %>
        <strong id='enable-fullscreen' class="<%= (@photos.count > 0)? '' : 'hidden' %>">
          <%= t :photo_fullscreen_mode %>
        </strong>
        <!--<strong id='enable-photo-modify-mode' class="<%= (@photos.count > 0)? '' : 'hidden' %>">-->
          <!--<%# t :photo_modify_mode %>-->
        <!--</strong>-->
        <!-- UNDER QUESTION
        <div class='photo-modify-mode-notice' data-shown='false'>-->
          <%# t(:photo_modify_mode_notice).
#                      gsub('MINUS', '<img src="/images/minus.png" class="minus" />').
                      html_safe %>
          <!--<div class='button confirm'>OK</div>-->
        <!--</div>-->
    <% end %>
  </div>

  <div style='float:left;'>
    <% if @photos.count > 0 %>
        <div id='photos-in-row'>
          <strong class='photos-in-row-count'>1</strong>
          <strong class='photos-in-row-count'>2</strong>
          <strong class='photos-in-row-count'>3</strong>
        </div>
    <% end %>
    <div style='overflow:auto;width:340px; height:500px;' id='photos'
         data-photos='<%= @photos.count %>' data-all-photos='<%= (@photos.count >= 30)? "false" : "true"%>'
         data-getting-photos='false'>

      <% @photos.each do |photo| %>
          <%= render :partial => 'photos/photo', :locals => {:photo => photo} %>
      <% end %>

    </div>
    <% if profile_owner? %>
        <%= form_for Photo.new, :html => {:multipart => true, 'data-notify' => true } do |f| %>
            <%= f.hidden_field :album_id, :value => @album.id %>
            <%= f.file_field :photo %>
        <% end %>
    <% end %>
  </div>

  <div id='current-photo' style='margin-left:360px;'>
    <table id='photo-comments'>

    </table>

    <div id='photo-ratings' style='background:black; color:white; font-weight:bold; width:600px;'>
    </div>


    <% if current_user %>
        <div id='new-photo-comment-form'>
          <%= form_for PhotoComment.new, :remote => true, :html => {'data-notify' => true} do |f| %>
              <%= f.text_area :body, :cols => 45, :rows => 5 %>
              <%= f.hidden_field :photo_id %>
              <div>
                <%= f.submit t(:new_comment), :disable_with => t(:please_wait), :disabled => true %>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

