<% if profile_owner? %>
    <%- session_key =  Rails.application.config.session_options[:key] %>
    <% content_for :head do %>
        <meta name='<%= session_key %>' content='<%= u cookies[session_key] %>' />
        <%= javascript_include_tag "swfobject.js", "uploadify.js", "photos.js" %>
        <%= stylesheet_link_tag 'uploadify' %>
    <% end %>


    <div class='album-container' id='<%= @album.id %>'>

      <%= link_to t(:change_settings), edit_user_album_path(current_user, @album.latinized_title) %>

      <div id="delete-album">
        <%= button_to t(:delete_album), @album, :method => :delete,
                      :confirm => t(:delete_album_confirmation),
                      :disable_with => t(:please_wait)
        %>
      </div>

      <div id='photos'>
        <% if @photos.count > 0 %>
          <h3 id='enable-fullscreen'> Enable Full Screen Mode </h3>
        <% else %>
          <h3 id='enable-fullscreen' class='hidden'> Enable Full Screen Mode </h3>
        <% end %>

        <% @photos.each do |photo| %>
            <%= render :partial => 'photos/photo', :locals => {:photo => photo} %>
        <% end %>
      </div>

      <div id='current-photo'>
      </div>

      <%= form_for Photo.new, :html => {:multipart => true, 'data-notify' => true } do |f| %>
          <%= f.hidden_field :album_id, :value => @album.id %>
          <%= f.file_field :photo %>
          <%= f.submit %>
      <% end %>

    </div>


<% end %>
