
<% allowed_items = @photo.permissions %>

<% if profile_owner? %>



    <%= form_for @photo, :remote => true, :method => :put, :html => {:id => :photo_permissions_form} do |f| %>

        <div id='primary-rating-items'>

          <%= f.fields_for :items do |items| %>
              <% current_user.items[:primary].each do |item| %>

                  <% if allowed_items[:primary].include?(item.to_sym) %>
                      <div class='allowed-rating-item rating-item' data-item='<%= item %>'>
                        <label for='photo_items_<%= item %>'> <%= t item %> </label>
                        <%= items.check_box item, :checked => true, :class => 'hidden on-off-item' %>
                      </div>
                  <% else %>
                      <div class='restricted-rating-item rating-item hidden' data-item='<%= item %>'>
                        <label for='photo_items_<%= item %>'> <%= t item %> </label>
                        <%= items.check_box item, :checked => false, :class => 'hidden on-off-item' %>
                      </div>
                  <% end %>

              <% end %>
          <% end %>

          <div id='rating-item-settings'>
            <input id='photo_modify' type='button' value='Modify' />
            <%= f.submit t(:submit), :disable_with => t(:please_wait), :class => 'hidden' %>
            <input id="photo_cancel" type='button' value='Cancel' class='hidden' />
          </div>
        </div>


    <% end %>

<% else %>

<% end %>