
<% allowed_items = eval(@photo.permissions) %>

<% if profile_owner? %>

    <div id='primary-rating-items'>
      <% current_user.rating_items[:primary].each do |item| %>
          <% if allowed_items[:primary].include?(item.to_sym) %>

              <div class='allowed-rating-item rating-item <%= item %>'>
                <%= t item %> <%= image_tag '/images/minus.gif', :class => 'disable-rating-item hidden' %>
              </div>

          <% else %>

              <div class='restricted-rating-item rating-item <%= item %>'>
                <%= t item %> <%= image_tag '/images/plus.png', :class => 'enable-rating-item hidden' %>
              </div>

          <% end %>
      <% end %>

      <div id='rating-item-settings'>
        <span id="modify-photo-permissions">Modify</span>
        <span id="save-photo-permissions" class="hidden">Save</span>
        <span id="cancel-photo-permissions-editing" class='hidden'>Cancel</span>
      </div>
    </div>

<% else %>

<% end %>