
<tr id="<%= photo_comment.id %>" class='photo-comment'>
  <td class='avatar-box'>
    <div><%= image_tag(photo_comment.author_avatar(:thumb)) %></div>
  </td>
  <td class="middle-vertical-align photo-comment">

    <div>
      <strong class="author-<%= photo_comment.author_gender %>">
        <%= link_to photo_comment.login, user_profile_path(:user_profile => photo_comment.login) %>
      </strong>
    </div>

    <div class='photo-comment-body'>
      <%= simple_format photo_comment.body %>
    </div>

    <div class='photo-comment-footer'>
      <%= l photo_comment.created_at %>
      <% if (current_user && photo_comment.user_id == current_user.id) || profile_owner? %>
          <%= link_to t(:delete), photo_comment, :remote => true, 'data-notify' => true,
                      :method => :delete, :class => 'delete-photo-comment',
                      :confirm => t(:are_you_sure) %>
      <% end %>
    </div>
  </td>

</tr>