<% author = photo_comment.user %>
<tr id="<%= photo_comment.id %>" class='photo-comment'>
  <td class='avatar-box'>
    <div><%= image_tag(author.avatar.url(:thumb)) %></div>
  </td>
  <td class="middle-vertical-align photo-comment">
    <div>
      <strong class="author-<%= author.gender %>">
        <%= link_to author.login, user_profile_path(:user_profile => author.login) %>
      </strong>
    </div>
    <div class='photo-comment-body'>
      <%= photo_comment.body %>
    </div>
    <div class='photo-comment-footer'>
      <%= l photo_comment.created_at %>
      <%= link_to t(:delete), photo_comment, :remote => true, 'data-notify' => true,
                  :method => :delete, :class => 'delete-photo-comment',
                  :confirm => t(:are_you_sure) %>
    </div>
  </td>

</tr>