<%= render :partial => 'shared/users/sections' %>
<% @details = current_user.details %>
<% content_for(:head) do %>
    <%= stylesheet_link_tag "jcrop.css" %>
    <%= javascript_include_tag "jcrop.js" %>
<% end %>


<%= form_for @details, :html => {:method => :put, :multipart => true, :id => :edit_avatar} do |f| %>
    <% if @details.avatar.exists? %>

        <table>
          <tr>
            <td>
              <%= image_tag @details.avatar.url(:large), 'data-geometry' => @details.avatar.dimensions(:large).to_s,
                      'data-ratio' => @details.avatar.ratio(:original, :large), :id => :cropbox %>
            </td>
            <td>
              &emsp;<%= image_tag(@details.avatar.url(:small), :id => 'current-avatar') %>
            </td>
          </tr>
        </table>

        <input type="button" value="<%= t(:release) %>" id="release_jcrop">
        <h4>Preview</h4>
        <div id='avatar-preview'>
          <%= image_tag @details.avatar.url(:large), :id => :preview  %>
        </div>
        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
            <%= f.hidden_field attribute, :id => attribute %>
        <% end %> <br />
    <% end %>
    <div class="row">
      <%= f.label(t :avatar) %> <%= f.file_field :avatar %>
      <strong class="cancel-upload" rel="disable">X</strong>
    </div>
    <%= f.submit(t(:renew_avatar), :disabled => true, :disable_with => t(:please_wait)) %>
<% end %>

