<!DOCTYPE html>
<html>
<head>
  <title>Licemerov.net</title>
  <%= stylesheet_link_tag :defaults %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'form', 'jquery.remotipart' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
<%= render :partial => 'shared/header' %>
<% if @user && @user.avatar.exists? %>
    <% user_attrs = "#{@user.login},#{@user.gender},#{@user.avatar.url(:small)}" %>
<% elsif @user && !@user.avatar.exists? %>
    <% user_attrs = "#{@user.login},#{@user.gender}" %>
<% else %>
    <% user_attrs = nil %>
<% end %>
<div id="wrapper" data-user="<%= user_attrs %>">

  <div class="notice"><%= flash[:notice] %></div>
  <div class="alert"><%= flash[:alert] %></div>
  <div class="warning"><%= flash[:warning] %></div>

  <%= yield %>
</div>

</body>
</html>
